body {
    margin: 0 0;
    background-color: #FFFFFF;
    font-family: "Source Sans Pro", sans-serif;
}

main {
    padding-top: 30px;
    padding-bottom: 20px;
    max-width: 60vw;
    width: 100vw;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

table {
    border-collapse: collapse;
}

td, th {
    border: solid;   
    border-width: thin;
    border-color: lightgray
}